pandas>=2.0
numpy>=1.26
langchain>=1.0.0
python-dotenv
ipykernel
# Use the provider-specific integrations moving out of core langchain
langchain-ollama
langchain-chroma
pypdf
langchain-openai
sentence-transformers
langgraph
streamlit
jsonlines
pdfplumber
PyMuPDF